<div class="container" id="replycontainer">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p> <strong> <%= reply.name %></strong>
        <%= reply.reply %>
        </p>
      </div>
    </div><br>
  <%= link_to 'Delete', [reply.article, reply], method: :delete, class: "btn-small btn-danger", data: {confirm: "are you sure?"} %>
  </article>
</div>
