<link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body id="d-page">
  <div class="jumbotron jumbotron-fluid" id="delaney">
    <div class="container">
      <h1 class="display-4">DELANEY</h1>
      <p class="lead"></p>
    </div>
  </div>

  <nav class="menu0">
  <ol>
    <li class="menu-item1"><a href="#0">Home</a></li>
    <li class="menu-item1"><a href="#0">About</a></li>
    <li class="menu-item1">
      <a href="#0">Widgets</a>
      <ol class="sub-menu2">
        <li class="menu-item1"><a href="#0">Big Widgets</a></li>
        <li class="menu-item1"><a href="#0">Bigger Widgets</a></li>
        <li class="menu-item1"><a href="#0">Huge Widgets</a></li>
      </ol>
    </li>
    <li class="menu-item1">
      <a href="#0">Kabobs</a>
      <ol class="sub-menu2">
        <li class="menu-item1"><a href="#0">Shishkabobs</a></li>
        <li class="menu-item1"><a href="#0">BBQ kabobs</a></li>
        <li class="menu-item1"><a href="#0">Summer kabobs</a></li>
      </ol>
    </li>
    <li class="menu-item1"><a href="#0">Contact</a></li>
  </ol>
</nav>

</body>
