@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome"; //home page styling

//home styling section
// #blog-section {
//   text-align: center;
// }
//rotating div section
.fakeimg {
  background-image: url('flashcard.jpg');
  height: 725px;
  font-size: 1.6vw;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .fakeimg h5{
   font-family: cursive;
   font-size: 1.8vw;
 }
 //pin
 .pin {
   position: fixed;
   height: 20px;
   width: 20px;
   background-image: url("...");
   background-repeat: no-repeat;
 }

 .pinE {
   top: 30px;
   left: 270px;
 }
.fakeimg1 {
  background-image: url('aciernophoto.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 390px;
  width:300px;
  margin: 150px;
   // background: #aaa;
  transform: rotate(-10deg)

}
 //pinf styling
 .pin {
   position: fixed;
   height: 20px;
   width: 20px;
   background-image: url("...");
   background-repeat: no-repeat;
 }

 .pinF {
   top: -10px;
   right: 80px;
 }

.fakeimg2 {
  background-image: url('IMG_0230.jpeg');
  background-size:contain;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  margin: 150px;
  // background: grey;
  transform: rotate(10deg);
  text-align:center;
 }
 //pin G styling
 .pin {
   position: fixed;
   height: 20px;
   width: 20px;
   background-image: url("...");
   background-repeat: no-repeat;
 }

 .pinG {
   top:30px;
   right: 150px;
 }

#homes-page {
  background-color: transparent;
  margin-top: 20px;
  background-image: url("makingmemories.jpg");
  height: 300px;
  background-size: cover;
  background-size: auto!important;
  background-repeat: no-repeat;
  background-position: center top;
}
//coles styling pages
//coles header
//coles header

#coles-name {
  background: transparent;
  font-family: 'Faster One', cursive;
  text-align: center;
  color: #ff0101;
  font-size: 7.5vw;
  text-shadow: 0 0 20px #ff073a;
  text-shadow: 0.1em 0.1em 0.1em rgb(228, 232, 240);
  border-color: green;
}
//colespage body
//coles jumbotron

#coles-jumbotron {
  background-image: url("coles-awesome.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 5500px;
}

.center {
  text-align: center;
}
//header image styling

#coles-name {
  background-color: black;
  background-image: url("rsz_colesimageguy.jpg");
  background-position: 0 50%;
  background-repeat: no-repeat;
}
//coles navbar styling
$icon-size: 90px;
$w: 200px;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@mixin lightsaber($color) {
  background: mix($color,#fff,10%);
  box-shadow: $color 0px 0px 0px 2px;

  &:hover {
    box-shadow: $color 0px 0px 20px 2px;
    text-shadow: $color 0px 0px 6px,$color 0px 0px 10px;
  }
}
// html body {
//   background:red;
// }

* {
  box-sizing: border-box;
}

#container1 {
  width: $icon-size;
  height: $icon-size;
  position: absolute;
  top: 20%;
  left: 47%;
}

#burger {
  cursor: pointer;
  opacity: 0;
  animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  %burgersection {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    height: 10%;
    width: 70%;
    transform-origin: 50% 50%;
    transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s;

    &:after,
    &:before {
      content: "";
      display: block;
      height: 40%;
      background: white;
      position: absolute;
      top: 50%;
      transform: translate(0%,-45%);
      transition: background 0.2s ease, box-shadow 0.2s ease;
    }

    &:before {
      left: 0;
      width: calc(-1px + 75%);
      border-radius: 10px 0 0 10px;
    }

    &:after {
      right: 0;
      width: calc(-1px + 25%);
    }
  }

  &:hover {
    .bun {
      &.top:before {
        background: #FEE;
        box-shadow: #F00 0 0 10px 1px;
      }

      &.bottom:before {
        background: #DFF;
        box-shadow: #0FF 0 0 10px 1px;
      }
    }

    .filling {
      &:before {
        background: #EFE;
        box-shadow: #0F0 0 0 10px 1px;
      }
    }
  }

  .bun {
    @extend %burgersection;

    &.top {
      top: 25%;
    }

    &.bottom {
      top: 75%;
    }
  }

  .filling {
    @extend %burgersection;
    top: 50%;
    transform: translate(-50%,-50%) rotate(180deg);
    animation: green-ls-out 0.8s ease forwards;
  }

  &.active {
    .bun {
      border-radius: 3px;
      top: 50%;
      transition: top 0.4s ease, transform 0.4s ease;

      &.top {
        transform: translate(-50%,-50%) rotate(-225deg);
      }

      &.bottom {
        transform: translate(-50%,-50%) rotate(405deg);
      }
    }

    .filling {
      transform: translate(-50%,-50%) rotate(-90deg);
      animation: green-ls-in 0.8s ease forwards;
    }
  }
}

nav {
  &.show {
    transform: translatex(0%);
  }
  font-family: Open Sans;
  color: white;
  background: #111;
  position: absolute;
  transform: translatex(-100%);
  transition: transform 0.2s ease;
  top: $icon-size;
  bottom: 0;
  padding-right: 16px;
  width: $w;
  top: 20%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    //font-weight:bolder;
    li {
      @include lightsaber(#4df);
      font-size: 1.75em;
      line-height: 1.25em;
      padding: 0;
      margin: 16px 0;
      width: 0;
      border-radius: 0 100px 100px 0;
      transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;

      &:hover {
        width: 100%;
        padding: 0 16px 0 0;
        color: black;
      }

      a {
        display: block;
        text-decoration: none;
        width: $w;
        color: inherit;
        padding-left: 16px;
      }

      &.green {
        @include lightsaber(#0F0);
      }

      &.red {
        @include lightsaber(#F00);
      }

      &.purple {
        @include lightsaber(#c0c);
      }

      &.yellow {
        @include lightsaber(#FF0);
      }
    }
  }
}
@keyframes green-ls-in {
  0% {
    transform: translate(-50%,-50%) rotate(180deg);
  }

  50% {
    transform: translate(-50%,-50%) rotate(-90deg);
  }

  100% {
    transform: translate(-50%,-50%) rotate(-90deg) translate(200%,0%);
  }
}
@keyframes green-ls-out {
  0% {
    transform: translate(-50%,-200%) rotate(-90deg);
  }

  50% {
    transform: translate(-50%,-50%) rotate(-90deg);
  }

  100% {
    transform: translate(-50%,-50%) rotate(180deg);
  }
}
@keyframes fadein {
  from {
    Opacity: 0;
  }

  to {
    Opacity: 1;
  }
}
//end of coles navbar styling
//main page styling
//.center.jumbotron-fluid {
//background-color: white;
//background-image: url("canva.png");
//  height: 800px;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  background-size: cover;
//  -o-background-size: cover;
//}
//main page styling

#main-pg {
  background-image: url("cork-board.jpg");
}

#map {
  height: 600px;
  width: 98%;
  margin: 10px 10px 10px 10px;
}

#home {
  text-align: center;
}

#form-row {
  text-align: center;
}
//index list styles

.card-footer text-muted {
  border-top: 1px solid #eaeaea;
  margin-top: 10px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
//initial page styling
//initial page button styling

#initials-header {
  background: transparent;
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  color: black;
  font-size: 7.5vw;
  text-shadow: 0 0 20px #ff073a;
  text-shadow: 0.1em 0.1em 0.1em rgb(228, 232, 240);
  border-color: green;
}

#initial-pg {
  background-image: url("roadmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons-holder1 {
  position: absolute;
  bottom: 90px;
  left: 400px; // transform: translate(-50%, -70%);
}

.buttons-holder2 {
  position: absolute;
  bottom: 90px;
  right: 400px;
}
//pins styling

.pin {
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url("...");
  background-repeat: no-repeat;
}

.pinA {
  top: 2px;
  left: 320px;
}

.pin {
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url("...");
  background-repeat: no-repeat;
}

.pinb {
  top: 2px;
  right: 330px;
}

.pin {
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url("...");
  background-repeat: no-repeat;
}

.pinc {
  top: 270px;
  left: 320px;
}

.pin {
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url("...");
  background-repeat: no-repeat;
}

.pind {
  top: 270px;
  right: 320px;
}

// .button {
//   background: #6495ED;
//   color: white;
//   padding: 25px;
//   margin: 15px auto;
//   border: none;
//   cursor: pointer;
//   width: 100%;
//   border-radius: 8px;
//   display: block;
// }
//stephanie pages
//stephanies header

#stephs-name {
  text-align: center;
  height: 200px;
  //border: 3px solid green;
  font-family: 'Alex Brush', cursive;
  color: #133f91;
  font-size: 14vw;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.1em rgb(228, 232, 240);
}

#steph1 {
  background-image: url("stephanies-background.jpg");
  background-attachment: fixed;
  // background-size: 1500px 700px;
}
//stephanies menu styling
//

.dropbtn {
  background-color: transparent;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  position: absolute;
  top: 47%;
  left: 47%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  top: 90%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
//end of stephanies page styling
//delaneys page styling
html, body {
    height:100%;
}
#delaney {
  background-color: transparent;
  text-align: center;
}
#d-page {
  /* The image used */
  background-image: url('delaneybackground.jpg');

  /* Full height */
  // height: 100%;

  /* Center and scale the image nicely */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#delaney-name {
  text-align: center;
  height: 200px;
  font-family: 'Alex Brush', cursive;
  color: white;
  font-size: 14vw;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.1em rgb(228, 232, 240);
}
//delaneys menu styling
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@GAP:15px;
@WHITE:#FBFBFB;
@BACKGROUND:#45494E;
@COLOR1:#FDA085;@COLOR1g:#F6D365;
@COLOR2:#BFF098;@COLOR2g:#6FD6FF;
@COLOR3:#EA8D8D;@COLOR3g:#A890FE;
@COLOR4:#D8B5FF;@COLOR4g:#1EAE98;
@COLOR5:#C6EA8D;@COLOR5g:#FE90AF;

*{
  box-sizing:border-box;
}

:root{
  --accent-color:transparent;
  --gradient-color:#FBFBFB;
}

a:focus{
  outline:none;
  position:relative;
  &:after{
    width:50px;
  }
}

// a:after{
//   content:"";
//   background:@WHITE;
//   position:absolute;
//   bottom:5px;
//   left:@GAP;
//   height:3px;
//   width:0;
//   transition:.5s;
//   transition-delay:.2s;
// }

body{
  // background:@BACKGROUND;
  font-family:"Varela Round",Nunito,Montserrat,sans-serif;
  margin:0;padding:0;
  padding-top: 0px;
  text-transform:capitalize;
// margin-top: 90px;
  //  top: 47%;
  // left: 70%;
}

.topnav{
   position: absolute;
  left: 30vh;
  top: -10vh;
  // right: 70vh;
  // bottom: 2200vh;
  > ol{
    list-style:none;
    margin:15px * 2 0;
    padding-top:0px;

    > li{
      background:transparent;
      border-left:5px solid var(--gradient-color);
      margin-bottom:1px;
      position:relative;
      transition:.5s;
      &:nth-child(1){
        --accent-color:#FDA085;
        --gradient-color:#F6D365;
      }
      &:nth-child(2){
        --accent-color:#BFF098;
        --gradient-color:#6FD6FF;
      }
      &:nth-child(3){
        --accent-color:#EA8D8D;
        --gradient-color:#A890FE;
      }
      &:nth-child(4){
        --accent-color:#D8B5FF;
        --gradient-color:#1EAE98;
      }
      &:nth-child(5){
        --accent-color:#C6EA8D;
        --gradient-color:#FE90AF;
      }
      a{
        color:#FBFBFB;
        display:block;
        padding:15px;
        position:relative;
        text-decoration:none;
        z-index:1;
        &:not(:last-child){
          &:before{
            content:"\f078";
            font-family:fontAwesome;
            font-size:.75em;
            line-height:50px;
            position:absolute;
            right:25px;
            top:0;
            bottom:0;
            margin:auto;
            transition:.5s;
          }
        }
      }
      &:focus,&:focus-within,&:hover{
        z-index:100;

        &:after{
          background:linear-gradient(to left, var(--accent-color), var(--gradient-color));
          max-width:800px;
        }
      }
      &:focus,&:focus-within{
        .sub-menu{
          max-height:500px;
        }
        a:before{
          transform:rotate(-180deg);
        }
      }
      &:after{
        background:darken(#FBFBFB,75%);
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        transition:.5s;
        max-width:0;
        overflow:hidden;
      }
    }
    .sub-menu{
      border-left:1px solid #FBFBFB;
      margin-left:15px*1.5;
      list-style:none;
      max-height:0px;
      overflow:hidden;
      padding-left:15px/2;
      position:relative;
      transition:.5s;
      z-index:1;
      li{
        font-size:.9em;
        &:hover,a:focus{
          background:fade(darken(#FBFBFB,75%),30%);
        }
        a:after{
          bottom:5px;
          height:1px;
        }
        a:hover,a:focus{
          &:after{
            width:15px;
          }
        }
      }
    }
  }
}

@media (min-width:600px){
  a:focus,a:hover{
    position:relative;
    &:after{
      width:50px;
    }
  }

  a:after{
    left:0;
    right:0;
    margin:auto;
  }

  .topnav{
    margin:0;
    margin-top:40vh;
  }
  .topnav > ol{
    display:block;
    max-width:none;
    text-align:center;
    > li{
      border-top:5px solid var(--accent-color);
      border-left:0;
      display:inline-block;
      margin-left:-5px;
      vertical-align:top;
      width:120px;
      &:hover,&:focus,&:focus-within{
        &:after{
          background:linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
          border-radius:3px;
          top:-15px;
          bottom:-15px;
          left:-15px;
          right:-15px;
        }

        .sub-menu{
          max-height:750px;
        }
      }

      a:not(:last-child){
        &:before{
          right:12.5px;
        }
      }

      &:hover{
        a:before{
          transform:rotate(-180deg);
        }
      }
    }
    .sub-menu{
      border-left:0;
      margin:15px -15px -15px;
      padding-left:0;
    }
  }
}


@media (min-width:775px){
  .topnav > ol{
    > li{
      width:150px;

      a:not(:last-child){
        &:before{
          right:25px;
        }
      }
    }
  }
}
//luthers styling
#luthers-name {
  background: transparent;
  font-family: 'Rubik Mono One', sans-serif;
  color: orange;
  text-align: center;
  font-size: 10vw;
}

#luthers {
  background-image: url("luthers-background.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
//navbar styling

.dropbtn1 {
  background-color: transparent;
  color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn1:focus,
.dropbtn1:hover {
  background-color: transparent;
  border-color: pink;
}

.dropdown1 {
  border-color: pink;
  position: relative;
  display: inline-block;
  top: 40%;
  left: 46%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  overflow: auto;
  box-shadow: #ff6100;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {
  background-color: #ff6100;
}

.show {
  display: block;
}
//back to top scroll button for cole

#topbutton1 {
  display: inline-block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  // transition: background-color .3s,
  //   opacity .5s, visibility .5s;
  // opacity: 0;
  // visibility:visible;
  // z-index: 1000;
}

#topbutton1::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#topbutton1:hover {
  cursor: pointer;
  background-color: transparent;
}

#topbutton1:active {
  background-color: transparent;
}

#topbutton1.show {
  opacity: 1;
  visibility: visible;
}
//stephanies back to top button

#topbutton2 {
  display: inline-block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  // transition: background-color .3s,
  //   opacity .5s, visibility .5s;
  // opacity: 0;
  // visibility:visible;
  // z-index: 1000;
}

#topbutton2::after {
  // content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#topbutton2:hover {
  cursor: pointer;
  background-color: transparent;
}

#topbutton2:active {
  background-color: transparent;
}

#topbutton2.show {
  opacity: 1;
  visibility: visible;
}
//luthers button top styling

#upbutton3 {
  display: inline-block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  // transition: background-color .3s,
  //   opacity .5s, visibility .5s;
  // opacity: 0;
  // visibility: hidden;
  // z-index: 1000;
}

#upbutton3::after {
  // content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#upbutton3:hover {
  cursor: pointer;
  background-color: transparent;
}

#upbutton3:active {
  background-color: transparent;
}

#upbutton3.show {
  opacity: 1;
  visibility: visible;
}
//delanies topbutton styling

#topbutton4 {
  display: inline-block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  // transition: background-color .3s,
  //   opacity .5s, visibility .5s;
  // opacity: 0;
  // visibility: hidden;
  // z-index: 1000;
}

#topbutton4::after {
  // content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#topbutton4:hover {
  cursor: pointer;
  background-color: transparent;
}

#topbutton4:active {
  background-color: transparent;
}

#topbutton4.show {
  opacity: 1;
  visibility: visible;
}
//homes footer
#footer2 {
  text-align: center;
}
//blog section home page

#example2 {
  border: 1px solid black;
  background: url("IMG_0230.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  height: 570px;
}

#example2 p {
  color: #FF4500;
}
#footer h6 {
  color: black;
}
//luthers articles styling
#cardluther {
  background-color: transparent;
}
#carddelani {
  background-color: transparent;
}
#coles-card{
  background-color: transparent;
  align-items: center;
}
#cardstephanie{
  background-color: transparent;
}
//form for create new articles styling
#form-body {
  background-image: url('');
}
#container49{
  text-align: center;
  display: flex;
  justify-content: center;
}
#center {
  width: 400px;
}
trix-toolbar .trix-button-group button {
  background-color: #34d8eb;
}
#index-body{
  background-image: url('cork-board.jpg');
}
